<div class='row'>
	<div class='col-md-12'>
	<div class='btn-group btn-group-lg'>
		<% idea.state_events.each do |e| %>
		<% # had to do this hack, idea:{solution:idea.solution} to get past the 'strong parameters' bullstuff %>
			<%= link_to idea_path(idea, idea:{solution:idea.solution}, :event=>e), method: :patch, :class => 'btn btn-success' do %>
				<%= e.to_s.capitalize %>
			<% end %>
		<% end %>
	</div>
	</div>
</div>

