<section class='idealist'>
	<div class='container'>
		<div class="row">
			<h2>Three Steps to Realize Your Vision</h2>
			<div class="col-md-4">
				<div class='idea-card'>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Innovate</h3>
						</div>
						<div class='col-md-12'>
							<p>Find a customer.  Talk with them to understand their key problems.  Watch 
							them in their native habitat.  Observe their behaviors either in 
							person, via analytics, or over the phone, to discover what their truely
							largest problems are.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class='idea-card'>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Test &amp; Refine</h3>
						</div>
						<div class='col-md-12'>
							<p>Using the concepts of the <a href='http://www.leanstack.com'>Lean Canvas</a>,
							think through your solution to the problem.  Define the problem, understand your 
							solution, and identify a key value proposition.  Test your assumptions in the most
							minimal way possible.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class='idea-card'>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Scale</h3>
						</div>
						<div class='col-md-12'>
							<p>Once you have the support you need, put a team together from your supporters, 
							and start implementing your idea at scale. </p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
