<section class='idealist'>
	<h1 class='display-5'>Three Steps to Realize Your Vision</h3>
	<div class='card-deck'>
		<div class='card idea-card'>
			<div class='card-body'>
				<h3 class='card-title'>Innovate</h3>
				<p class='card-text'>
					Find a customer.  Talk with them to understand their key problems.  Watch 
					them in their native habitat.  Observe their behaviors either in 
					person, via analytics, or over the phone, to discover what their truely
					largest problems are.
				</p>
			</div>
		</div>
		<div class='card idea-card'>
			<div class='card-body'>
				<h3 class='card-title'>Test &amp; Refine</h3>
				<p class='card-text'>
					Using the concepts of the <a href='http://www.leanstack.com'>Lean Canvas</a>,
					think through your solution to the problem.  Define the problem, understand your 
					solution, and identify a key value proposition.  Test your assumptions in the most
					minimal way possible.
				</p>
			</div>
		</div>
		<div class='card idea-card'>
			<div class='card-body'>
				<h3 class='card-title'>Scale</h3>
				<p class='card-text'>
					Once you have the support you need, put a team together from your supporters, 
					and start implementing your idea at scale.
				</p>
			</div>
		</div>
	</div>
</section>
