<section class='idealist'>
	<div class='container'>
		<div class="row">
			<h2>Three Steps to Realize Your Vision</h2>
			<div class="col-md-4">
				<div class='idea-card'>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Solve a Customer's Problem</h3>
						</div>
						<div class='col-md-12'>
							<p>Find a customer.  Talk with them to understand their key problems.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class='idea-card'>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Submit your Solution</h3>
						</div>
						<div class='col-md-12'>
							<p>Using the concepts of the <a href='http://www.leanstack.com'>Lean Canvas</a>,
							think through your solution to the problem.  Define the problem, understand your 
							solution, and identify a key value proposition.  Submit your solution to the 
							crowd, and campaign for support.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class='idea-card'>
					<div class='row'>
						<div class='col-md-12'>
							<h3>Implement the Solution</h3>
						</div>
						<div class='col-md-12'>
							<p>Once you have the support you need, put a team together from your supporters, 
							and start implementing your idea. </p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
