<section class='idealist'>
	<div class='container'>
		<div class="row">
			<h3>Popular Ideas</h3>
			<% @ideas.each do |i| %>
			<div class="col-sm-6 col-md-4">
				<%= render :partial => 'ideacard', locals: {:idea => i} %>
			</div>
			<% end %>
		</div>

			<div class="row">
			<h3>Newest Ideas</h3>
			<% @new_ideas.each do  |i| %>
			<div class="col-md-4">
				<%= render :partial => 'ideacard', locals: {:idea => i} %>
			</div>
			<% end %>
		</div>
	</div>
	</div>
</section>
