<section class='app-content'>
<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			<h1>The Wisdom of Crowds</h1>
			<p class='lead'>Within organizations, the best ideas lay hidden, waiting for someone to bring them to life.  
			Often, associates in a company who are closest to the work have the best solutions.  In today's information-
			centric world, it is more important than ever to bring the best of these ideas to market.</p>
			<p class='lead'>We are all responsible for our success.  From the customer success team all the way through 
			the customer pipeline to HR and Finance, we all have ideas that can help CMM
			grow and further our mission.  This web site is the collection of all our ideas, to experiment with and act upon.</p>
			<%= link_to "How it Works", home_works_path, :class=>'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>
</section>