<div class='jumbotron content'>
	<div class='container'>
		<h1>All our Ideas.  All the time.</h1>
		<h2>Want to learn how it works?</h2>
		<a href='#' class='btn btn-primary btn-lg'>Learn More</a>
	</div>
</div>
<section class='idealist'>
	<div class='container'>
		<div class="row">
			<h2>Popular Ideas</h2>
			<div class="col-sm-6 col-md-4">
			  <a href="#" class="thumbnail">
			    <img data-src="holder.js/100%x180" alt="...">
			  </a>
			</div>
			<div class="col-sm-6 col-md-4">
			  <a href="#" class="thumbnail">
			    <img data-src="holder.js/100%x180" alt="...">
			  </a>
			</div>
			<div class="col-sm-6 col-md-4">
			  <a href="#" class="thumbnail">
			    <img data-src="holder.js/100%x180" alt="...">
			  </a>
			</div>
		</div>
	</div>
</section>
