<section class='banner-text'>
	<div class='jumbotron'>
		<h1>All Your Ideas. All the time.</h1>
		<h2>Want to learn how it works?</h2>
		<%= link_to "Learn More", home_about_path, :class=>'btn btn-primary btn-lg'%>
	</div>
	<% if user_signed_in? then %>
		<%= render :partial => 'idealist' %>
	<% else %> 
		<%= render :partial => 'benefits' %>
	<% end %>
</section>
