<section class='app-content'>
	<div class='container'>
		<div class='col-md-12'>
			<br/>
			<h1>Every idea counts</h1>
			<br/>
			<h2 class='lead'>Here’s how the process works</h2>
			<ol>
		    <li>Your idea starts as a Spark.  Using the Lean Canvas approach (<a href='http://www.leanstack.com'>www.leanstack.com</a>), 
				fill in the initial submission form.  Please be as detailed as possible. For a Spark, you only need to identify the target
		    customer segment, the problem description, a solution, and a unique value proposition.</li>
				<li>The list of submitted ideas is available to everyone in the company.  Browse through the list to vote other ideas up or 
				down.  When you feel you have enough support, identify a launchpad sponsor, and hit "Submit" to bring your idea to the Launchpad.</li>
				<li>Attend the next Launchpad meeting, to discus and debate the idea.</li>
				<li>If approved to move forward, we will prioritize your suggestion and keep you updated on its progress.</li>
				<li>Ideas go from Spark -> Proposed -> [Approved, Declined, or Deferred] -> In Development -> [Declined, Deferred, or Done]</li>
			</ol>
			<br/>
			<dl>
				<dd><strong>Spark</strong> - the intiial stage of an idea.  The only thing you need to get started in the process is a customer, a problem, and a proposed solution</dd>
				<dd><strong>Proposed</strong> - with sufficient support, the idea is considered by the Launchpad.</dd>
				<dd><strong>Approved</strong> - the idea is worthy of being worked on, but a team is not yet working on it</dd>
				<dd><strong>In Development</strong> - there is an active team working to bring this idea to life</dd>
				<dd><strong>Deferred</strong> - the idea is on hold, awaiting more information before a decision can be made.</dd>
				<dd><strong>Declined</strong> - the idea was considered, but decided not to move forward</dd>
				<dd><strong>Done</strong> - development has finished with the idea, and it is in production</dd>
			</dl>
	 
			<h4>Your ideas are exposed to the entire CoverMyMeds community.  The more support it has, the more likely it will move forward.</h4>
 			<br/>
			<p class='lead'>That’s it, easy peasy lemon squeezy.</p>
			<%= link_to "Get Started", ideas_path, :class=>'btn btn-primary btn-lg' %>
		</div>
	</div>
</section>