// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightBlue:#1b7fb7;
$darkBlue:#00477d;
$yellowManta:#ffb60f;
$grayManta:#cccccc;
$blueManta:#004F72;

body {
	@extend body;
	background-color:$darkBlue;
	color:lighten($darkBlue, 10%);
}

.jumbotron {
	background-color:$yellowManta;
	margin-top:108px;
	padding-top:4em;
	padding-bottom:4em;
}

.navbar-right span {
	color:white;
}

section.idealist {
	background-color:$grayManta;
	padding:1em;
}