// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

body {
	@extend body;
	background-color:$darkBlue;
}

.jumbotron {
	background-color:$yellowManta;
	color:lighten($darkBlue, 10%);
	padding-top:3em;
	padding-bottom:3em;
}


.navbar-right span {
	color:white;
}

section.idealist {
	background-color:$grayManta;
	padding:1em;
}


.idea-card {
	background-color:$blueManta;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 5px;
	padding:.5em;
	color:white;
	a {
		color:white;
	}
	margin:1em 0 1em 0;
}

section.light-background {
	background-color:$lightBlue;
}

section.light-background {
	background-color:$darkBlue;
}