<div class="navbar navbar-inverse">
    <div class="container">
        <div class="nav navbar col-md-8 col-xs-12">
            <p class="navbar-text">
                <span class="text-muted">© Sandlot Software All rights reserved</span><br/>
            </p>
        </div>
    </div>
</div>
